body {
	font-family: "Pathway Gothic One", sans-serif!important;
}

.fleft{float:left;}
.fright{float:right;}

.carousel-control.left {
  background-image: inherit!important;
 
}

.carousel-control.right {
  background-image: inherit!important;
 
}

.carousel-control {
  top: 44%!important;
  width: 20px!important;
}
.navbar {
	margin-bottom: 0!important;
}
.nav_l {
	float: left;
}
.nav_r {
	float: right;
}
.menu {
	float: right;
	margin-bottom: 5px;
}
.logo {
	padding: 18px 0 0 10px;
}
.menu > li > a {
	color: #40434a;
	font-family: "Pathway Gothic One", sans-serif;
	font-size: 22px;
}
.menu li {
	list-style: none;
	float: left;
    padding: 0 15px;
}
.menu li:last-child {
  padding: 0;
}

.menu li:first-child {
  padding: 0;
}
.navbar-collapse {
	padding-right: 0!important;
}
.menu li.active a{
    color: #AECC29;
}
.menu li a:focus, .menu li a:hover {
	text-decoration: none;
	color: #AECC29;
}
.call_us {
	float: right;
	margin: 10px 0;color: #40434a;
}
.call_Number {
	font-size: 24px;
}
.signin_btn a {
	background: #2bb8bc none repeat scroll 0 0;
	border-radius: 5px;
	color: #fff;
	font-size: 18px;
	margin-left: 15px;
	padding: 4px 10px;
}
.navbar-toggle .icon-bar {
	background: #fff none repeat scroll 0 0;
}
.navbar-toggle {
	background-color: #482456!important;
}
.margin-top15px {
	margin-top: 15px;
}
.margin-top50px {
	margin-top: 50px;
}
/*  Header Top */
.header_top {
	background-color: #2c3037;color: #fff;padding: 20px 0;
}
.header_title {
  font-size: 40px;
  padding: 40px 0 10px;
}   
.header_s_title{font-size: 24px;}
.green_bg {
	background: #aecc29;
}
.blue_bg {
	background: #2bb8bc;
}
.g_color{color:#aecc29;}
.b_money {
	height: 200px;
}
.b_money li {
	color: #fff;
}
.b_title {
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 0;
}


.ethical li {
  font-size: 24px;
  padding: 0 0 10px;
}

.title{ font-size: 28px;color:#2BB8BC;padding-bottom: 15px;}

.h_title {
  color: #1a81ea;
  font-size: 35px;
  padding: 25px 20px 10px;
}
.h_innner {
  border: 1px solid #ccc;
  display: inline-block;
  width: 100%;
}
.h_innner p {
  font-size: 24px;
  text-align: center;color:#AECC35;
}
.h_number {
  font-size: 40px;
  text-align: center;
}

.footer {
	background: #2C3037;
	height: 50px;
}
.footer ul {
	float: right;
	margin-top: 15px;
}
.footer li {
	list-style: none;
	float: left;
}
.footer li a {
	color: #fff;
	padding: 0 0 0 20px;font-size: 18px;
}
.footer li a:hover{color:#AECC29; text-decoration: none;}
 @media only screen  and (min-device-width: 320px)  and (max-device-width: 480px) {
.logo {
  padding: 0;
}
.menu {
	padding: 0;
	margin-top: 15px;
}
.menu li {
	float: inherit;
	width: 100%;
}
.navbar-collapse {
	padding-right: 15px!important;
}
}
